@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-general {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}



/* Shared style */

:root{
   --des-color: rgba(0, 0, 0, 0.5);
   --theme-color: #E95A08;

}


/* nav styles */

body{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(245, 248, 255);;
}

.nav-bar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-container{
    display: flex;
    gap: 30px;
    list-style: none;
    
}

.menu{
    text-decoration: none;
    color: var(--des-color);
    font-size: 1.125rem;
    transition-duration: .1s;
    /* overflow: hidden; */

}

.cart{
    color: rgb(17, 16, 16);
}

.menu:hover{
    color: black;
    font-weight: bold;
    
}

/* Banner design */
.banner{
    display: flex;
    margin-top: 100px;
    align-items: flex-end;
    justify-content: space-between;
    /* gap: 50px; */
}

.ban-tittle{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;

}

.text-orange{
    color: var(--theme-color);
}

.ban-des{
    font-size: 1.35rem;
    color: var(--des-color);
    margin: 20px 0 0 0;
}


/* Plant section styles */

.plant-sec{
    margin-top: 180px;
}

.plant-content{
    max-width: 900px;
    text-align: center;
    margin: auto;}

.plant-tittle{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.plant-des{
    color: var(--des-color);
    font-size: 1.4rem;
}
.plant-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.plant-image{
    width: 100%;
    margin-bottom: 20px;
}
.plant-name{
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.price{
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;
    margin: 10px 0 20px 0;
}
.add-btn{
    width: 100%;
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 40px;
    /* margin-top: 20px; */
}
.add-btn:hover{
    background-color: #ff3908;
    cursor: pointer;

}
.plant-card{
    box-shadow: 0 2px 2px rgb(134, 134, 134);
    /* border-radius: 150px; */
}

.plant-card-container{
    margin: 60px 0;
}










/* Smaller device style */

@media screen and (max-width: 576px) {

/* Nave styles */
    
    .hide{
        display: none;
    }
    .logo{
        width: 70px;
    }
    .nav-bar{
        margin: 20px 15px;
    }
    .cart{
        font-size: 1.25rem;
    }

    /* Banner style */
    .banner{
        flex-direction: column-reverse;
        align-items: normal;
        gap: 2rem;
    }
    .ban-tittle{
        font-size: 2rem;
        margin: 0;
    }

    .ban-des{
        font-size: 1rem;
    }

    .banner-content{
        margin: 0 20px;
    }


    /* Plant section styles */
    .plant-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 20px;
    }

    .plant-tittle{
        font-size: 2rem;
    }
    .plant-sec{
        margin-top: 56px;
    }
    .plant-des{
        font-size: 1rem;
    }
    .plant-content{
        max-width: 90vw;
    }

    .plant-image{
        margin-bottom: 10px;
    }
    .plant-name{
        font-size: 1.1rem;
    }
    .price{
        font-size: 1rem;
    }

    .add-btn{
        font-size: .9rem;
        font-weight: 700;
        padding: 20px 20px;
    /* margin-top: 20px; */
}
}